.form {
  margin: 0 auto;
  max-width: 320px;
  height: 200px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form input,
.form textarea {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}
